.home-title {
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
}
.homepage p {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

.homepage a,.homepage a:hover {
  color: #ffffff;
  display: block;
  text-decoration: underline;
}


@media (max-width: 768px) {
  .home_title {
    font-size: 50px;
    margin-bottom: 30px !important;
  }
  a {
    font-size: 20px;
  }
}
