.hotel-detail_title {
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
}

p {
  color: #ffffff;
  margin: 0;
}

.floor-list-title {
  color: #ffffff;
  font-weight: 700;
}

a {
  color: #ffffff;
  font-weight: 500;
  display: block;
}


@media (max-width: 768px) {
  .hotel-detail_title {
    font-size: 50px;
  }
  .detail-panel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .hotel-detail_title {
    margin-bottom: 30px !important;
  }
  .floor-list-title {
    margin-top: 30px;
    font-size: 30px;
  }
}

.multiselect {
  height: 36px;
  background-color: #ffffff !important;
}

.state-name {
  height: 36px;
  width: 100%;
  border-radius: 4px;
}